{% extends "partials/app_base.html" %}

{% block pageContent %}

<main id="main" class="container mx-auto px-4 mt-16">
	<div class="text-center">
		<h1 class="text-5xl md:text-7xl font-bold text-gray-700 mb-8">The GoTH stack</h1>
		<p class="text-xl text-gray-700 leading-relaxed font-semibold mb-12">Programming stack for solo gophers</p>
		<p class="text-xl leading-relaxed">Golang - HTMX - Tailwind - Postgres</p>
		<div class="max-w-2xl mx-auto text-lg text-gray-800 leading-relaxed mb-8">
			<p>The GoTH stack is a powerful combination of technologies designed to empower solo gophers, providing an efficient and enjoyable development experience.</p>
		</div>
		<h2 class="text-3xl font-bold text-gray-900 mb-4">Benefits of using the GoTH stack:</h2>
		<ul class="max-w-md mx-auto text-lg text-gray-800 leading-relaxed mb-8">
			<li>Fast and efficient development with Go programming language</li>
			<li>Seamless interactivity with HTMX</li>
			<li>Rapid UI development with the help of Tailwind CSS</li>
			<li>Robust and scalable applications</li>
		</ul>
		<p class="text-lg text-gray-800 leading-relaxed">With the GoTH stack, you can unleash your full potential as a solo gopher and build impressive web applications efficiently and effectively.</p>
	</div>
	<div class="flex flex-wrap justify-start mt-16 mb-20">
		<div class="max-w-sm mx-4 bg-white rounded-lg overflow-hidden shadow-md m-4">
			<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fdownload.logo.wine%2Flogo%2FGo_(programming_language)%2FGo_(programming_language)-Logo.wine.png&f=1&nofb=1&ipt=7d5e90442001167366cbbadc5a7cf6ae93d477cdd52e34b9ea89222778c7c4f2&ipo=images" alt="Golang Logo" class=" object-fill h-32    mx-auto my-6">
			<div class="px-6 py-4">
				<h3 class="text-xl font-bold text-gray-900 mb-2">Go programming language</h3>
				<p class="text-gray-700 text-base leading-relaxed">Go is a statically-typed and compiled programming language designed for simplicity, efficiency, and scalability. It offers built-in concurrency, garbage collection, and a strong standard library.</p>
			</div>
		</div>
		<div class="max-w-sm mx-4 bg-white rounded-lg overflow-hidden shadow-md m-4">
			<img src="https://raw.githubusercontent.com/bigskysoftware/htmx/master/www/static/img/htmx_logo.1.png" alt="HTMX Logo" class="h-32 mx-auto my-6">
			<div class="px-6 py-4">
				<h3 class="text-xl font-bold text-gray-900 mb-2">HTMX</h3>
				<p class="text-gray-700 text-base leading-relaxed">HTMX is a lightweight JavaScript library that allows you to build seamless and interactive web applications. It provides a declarative syntax and works well with server-side frameworks. [Official Documentation](https://htmx.org/docs/)</p>
			</div>
		</div>

		<div class="max-w-sm mx-4 bg-white rounded-lg overflow-hidden shadow-md pb-20 m-4 ">
			<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.icon-icons.com%2Ficons2%2F2699%2FPNG%2F512%2Ftailwindcss_logo_icon_170649.png&f=1&nofb=1&ipt=198436c93926a88095761c616f46a935eb817226d32689836c9c1fba44bc2a5b&ipo=images" alt="Tailwind CSS Logo" class="object-contain h-32 mx-auto my-6">
			<div class="px-6 py-4">
				<h3 class="text-xl font-bold text-gray-900 mb-2">Tailwind CSS</h3>
				<p class="text-gray-700 text-base leading-relaxed">Tailwind CSS is a utility-first CSS framework that enables rapid UI development with its pre-designed utility classes. It provides a flexible and customizable approach to building modern interfaces.</p>
			</div>
		</div>

		<div class="max-w-sm mx-4 bg-white rounded-lg overflow-hidden shadow-md m-4">
			<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fbrandlogos.net%2Fwp-content%2Fuploads%2F2021%2F11%2Fpostgresql-logo-512x512.png&f=1&nofb=1&ipt=13ef6ca1b2b8142d03e0cd9022f3145f090d8c97235e1c720e28150da5c9caf0&ipo=images" alt="PostgreSQL Logo" class="h-32 mx-auto my-6">
			<div class="px-6 py-4">
				<h3 class="text-xl font-bold text-gray-900 mb-2">PostgreSQL</h3>
				<p class="text-gray-700 text-base leading-relaxed">PostgreSQL is a powerful open-source relational database management system known for its reliability, robustness, and extensive feature set. It provides ACID compliance and supports complex data models.</p>
			</div>
		</div>
	</div>
</main>

{% endblock %}